
//tootip
::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
        border-top-color: darkcyan;
    }
    background-color: darkcyan;
    font-size: large;
}

.chart-container {
    padding: 0px 0px 0px 0px;
}

    :host ::ng-deep {
        .pie-chart-container {
          height: 700px;
          width: 100%;
          display: block;
}
    }