
*{
    font-family: sans-serif;
    font-weight: 100;
}


h1{
    background-color: darkcyan;
    border-radius: 10px;
    padding: 1vh 1vw 1vh 1vw;
    margin: 3vh auto 3vh auto;
    width:fit-content;
    text-align: center;
    color: white;
    align-items: center;
}

.numberOf {
    border: solid 2px darkcyan;
    border-radius: 10px;
    width: fit-content;
    margin: auto 3vw auto 3vw; 
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
    align-items: center;
    color: gray;
}

.h3contener{
    display: flex;
    flex-direction: row;
    justify-content: center;
}