<h1>Nation chart</h1>
<!-- <h1>{{nationData.name}}</h1> -->

<!-- TODO component ! -->
<div class="h3contener">

    <div class="numberOf">
        <h3>Number of </h3>
        <!-- <p>machin</p>  -->
    </div>

    <div class="numberOf">
        <h3>Number of </h3>
    </div>

    <div class="numberOf">
        <h3>Number of </h3>
    </div>

</div>

<div class="line-chart">
    <ngx-charts-line-chart [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
        [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="this.multi">
    </ngx-charts-line-chart>
</div>

<!-- TODO component ! -->
<div class="goBack">
    <h2>
        <a routerLink="">Go back</a>
    </h2>
</div>