
.goBack{
    width: fit-content;
    color: white;
    text-align: center;
    background-color: grayscale($color: #dad1d1);
    border-radius: 10px;
    padding: 0vh 1vw 0vh 1vw;

}

.line-chart{
    margin-top: 5vw;
    margin-right: 5vw;
}