<ng-container *ngIf="this.callWorkFine; then callWorkFineTrue else callNotWorking"></ng-container>

<ng-template #callWorkFineTrue>
    <h1>{{this.data.name}}</h1>

    <div class="h3contener">

        <div class="numberOf">
            <h3>Number of participations</h3>
            <p>{{this.data.series.length}}</p>
        </div>

        <div class="numberOf">
            <h3>Number of medals</h3>
            <p>{{this.nbMedals}}</p> 
        </div>

        <div class="numberOf">
            <h3>Number of athletes</h3>
            <p>{{this.nbAthletes}}</p> 
        </div>

    </div>

    <div class="line-chart">
        <ngx-charts-line-chart [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
            [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
            [results]="anytab">
        </ngx-charts-line-chart>
    </div>
</ng-template>

<ng-template #callNotWorking>
    <h2 class="error"> Erreur dans le traitement des données => [ {{this.error}} ] </h2>
</ng-template>

<div class="goBack">
    <h2>
        <button (click)="retour()">Go back</button>
    </h2>
</div>